<div fxLayout fxLayoutAlign="center center" fxFlexFill class = "login">
  <mat-card class="login-card">
    <form [formGroup]="resetForm" autocomplete="off">
      <mat-card-title>Enter your email</mat-card-title>
      <mat-card-content fxLayout="column">
        <mat-form-field appearance="legacy">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            required
            (keyup)="onEmailChange($event)"
            autocomplete="off"
          />
          <mat-error>Please enter a valid email address</mat-error>
        </mat-form-field>
        <mat-error
          [ngStyle]="{ color: 'red' }"
          *ngIf="
            !emailFound &&
            message.length > 0 &&
            resetForm.value.email.length > 0
          "
          >{{ message }}</mat-error
        >
        <mat-error [ngStyle]="{ color: 'green' }" *ngIf="emailFound">{{
          message
        }}</mat-error>
      </mat-card-content>
      <button
        type="submit"
        mat-raised-button
        color="accent"
        class="btn-login"
        [disabled]="!resetForm.valid || this.emailFound"
        (click)="resetPassword()"
      >
        <!-- <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" *ngIf="loading"></i> -->
        Reset Password
      </button>
    </form>
  </mat-card>
</div>
