.login{
  position: fixed;
}
.login-card {
  position: relative;
  right: 13%;

  @media (min-width: 599px) {
    width: 350px;
  }
}

.btn-login {
  width: 100%;
  height: 30px;
  line-height: 0px;
}

.btn-login i {
  font-size: 20px;
}
.mat-input-invalid .mat-input-placeholder {
  color: red;
}

.mat-input-invalid .mat-input-ripple {
  background-color: red;
}
