<div [formGroup]="formGroup">
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required/>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field>
        <mat-select formControlName="status" [(value)]="dataStatus">
          <mat-option value="Active">Active</mat-option>
          <mat-option value="Offline">Offline</mat-option>
        </mat-select>
        <mat-label>Status</mat-label>
      </mat-form-field>
    </div>
    <div fxLayout="column">
      <mat-form-field>
        <input matInput formControlName="type" readonly />
        <mat-label>Parent</mat-label>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-center end" style="float: right;">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="saveRecord()">Save</button>
  </div>
</div>
