<div >
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div style="font-weight: 500;">Quote</div>
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="quoteId">
        <!-- <app-quote-summary
          [quoteId]="quoteId"
          style="width: 100%;"
        ></app-quote-summary> -->
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
