<app-page-scroll-layout>
  <form
    [formGroup]="searchForm"
    autocomplete="off"
    style="padding: 0 10px; font-size: 12px;"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      <div fxLayout="column" fxFlex="60">
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxLayout="column" fxFlex="30">
            <mat-form-field appearance="legacy" class="search-box">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" />
              <button
                mat-button
                type="button"
                *ngIf="searchForm.value.firstName !== ''"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                matTooltip="Clear"
                (click)="onClearSearch('firstName')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="30">
            <mat-form-field appearance="legacy" class="search-box">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" />
              <button
                mat-button
                type="button"
                *ngIf="searchForm.value.lastName !== ''"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                matTooltip="Clear"
                (click)="onClearSearch('lastName')"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div fxLayout="column">
            <div>
              <button
                mat-raised-button
                [disabled]="
                  searchForm.value.firstName === '' &&
                  searchForm.value.lastName === ''
                "
                color="accent"
                class="btn-search"
                (click)="onSearch()"
              >
                <mat-icon>search</mat-icon>
              </button>
            </div>
          </div>
          <mat-chip-list aria-label="Fish selection" *ngIf="searchCounter > 0">
            <mat-chip class="clear-search" (click)="onClearSearch('all')">
              <mat-icon class="clear-search__icon">close</mat-icon>Clear All
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div fxLayout="column">
        <div>
          <button mat-raised-button color="primary" (click)="addNewEmployee()"
                  *ngIf="permissionService.canCreateOf(screenName.Employee_List) | async">
            Create Employee
          </button>
        </div>
      </div>
    </div>
  </form>

  <app-employee-list-table-view
    [searchCriteria]="this.searchForm.value"
    [searchCounter]="searchCounter"
  >
  </app-employee-list-table-view>
</app-page-scroll-layout>

<!-- <app-floating-add-button
  [text]="'New Employee'"
  (buttonClick)="addNewEmployee()"
>
</app-floating-add-button> -->
