<form [formGroup]="orderForm" autocomplete="off">
    <app-page-scroll-layout [gutter]="44">

        <div fxLayout="column">

            <div fxLayout="row" fxLayoutAlign="space-between none">
                <!-- CUSTOMER DETAILS  -->
                <mat-card fxFlex="24">
                    <mat-card-subtitle class="mat-body-strong" fxLayout="row" fxLayoutAlign="space-between start">
                        <span>Customer</span>
                        <div>
                            <mat-icon class="view-customer" (click)="goToCustomer()" *ngIf="customer"
                                matTooltip="View Customer">
                                open_in_new</mat-icon>
                            <mat-icon class="remove-customer" (click)="deleteCustomer()"
                                *ngIf="customer && !isEditMode && parentOrderId===0" matTooltip="Remove">delete
                            </mat-icon>
                        </div>
                    </mat-card-subtitle>
                    <mat-card-content *ngIf="customer">
                        <div class="mat-body-strong">{{customer.name}}</div>
                        <div class="mat-small">{{getCustomerAddress()}}</div>
                    </mat-card-content>
                    <mat-card-actions fxLayout="column" fxLayoutAlign="space-around center"
                        *ngIf="!customer && !isEditMode">
                        <button type="button" mat-stroked-button color="warn" (click)="lookupCustomer()">
                            <mat-icon>search</mat-icon>
                            Lookup
                        </button>
                        <mat-error *ngIf="!customer?.id && isFormSubmitted" class="lookup-error">
                            Select/Add Customer
                        </mat-error>
                    </mat-card-actions>
                </mat-card>
                <!-- / CUSTOMER DETAILS  -->

                <!-- CONTACT DETAILS  -->
                <mat-card fxFlex="74">
                    <mat-card-title fxLayout="row" fxLayoutAlign="space-between none">
                        <mat-card-subtitle class="mat-body-strong">Contact Details</mat-card-subtitle>
                        <button type="button" mat-stroked-button color="warn" (click)="setContactAsCustomer()"
                            *ngIf="customer?.id && canSetContactAsCustomer">
                            <mat-icon>file_copy</mat-icon>
                            Copy from customer
                        </button>
                    </mat-card-title>
                    <mat-card-content fxLayout fxLayoutAlign="space-between start">
                        <mat-form-field fxFlex>
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="customerName">
                            <mat-error *ngIf="orderForm.controls['customerName'].hasError('required')">Required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex fxFlexOffset="10px">
                            <mat-label>Phone #</mat-label>
                            <input matInput formControlName="phone" numbersOnly maxlength="10">
                            <mat-error *ngIf="orderForm.controls['phone'].hasError('required')">Required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex fxFlexOffset="10px">
                            <mat-label>E-mail</mat-label>
                            <input matInput formControlName="email">
                            <mat-error *ngIf="orderForm.controls['email'].hasError('pattern')">Invalid
                            </mat-error>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <!-- / CONTACT DETAILS  -->
            </div>

            <mat-tab-group>
                <mat-tab label="More Details">
                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutAlign="space-between none">
                            <!-- ORDER DETAILS  -->
                            <mat-card fxFlex="49" class="mar-t-5 mar-b-5">
                                <mat-card-subtitle class="mat-body-strong">Order Details</mat-card-subtitle>
                                <mat-card-content fxLayout="column">
                                    <div fxLayout="row">
                                        <mat-form-field fxFlex>
                                            <mat-label>Order Type</mat-label>
                                            <mat-select matNativeControl formControlName="type" [disabled]="isEditMode">
                                                <mat-option value="">--</mat-option>
                                                <mat-option *ngFor="let type of orderTypeList" value="{{type.name}}"
                                                    (onSelectionChange)="onTypeSelected($event,type)">{{type.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="orderForm.controls['type'].hasError('required')">Required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field fxFlex fxFlexOffset="20px">
                                            <mat-label>Sub Type</mat-label>
                                            <mat-select matNativeControl formControlName="subType"
                                                [disabled]="!orderForm.value.type || selectedType?.child.length === 0 || isEditMode">
                                                <mat-option value="">--</mat-option>
                                                <mat-option *ngFor="let type of selectedType?.child"
                                                    value="{{type.name}}">
                                                    {{type.name}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="orderForm.controls['subType'].hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row">
                                        <mat-form-field fxFlex>
                                            <mat-label>Priority</mat-label>
                                            <mat-select matNativeControl formControlName="priority"
                                                [disabled]="isEditMode">
                                                <mat-option *ngFor="let option of priorityList" [value]="option.value">
                                                    {{ option.text }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="orderForm.controls['priority'].hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field fxFlex fxFlexOffset="20px">
                                            <mat-label>Due Date</mat-label>
                                            <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate"
                                                [min]="minDueDate">
                                            <mat-datepicker-toggle matSuffix [for]="dueDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #dueDatePicker></mat-datepicker>
                                            <mat-error *ngIf="orderForm.controls['dueDate'].hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row">
                                        <mat-form-field fxFlex="49">
                                            <mat-label>Size</mat-label>
                                            <input matInput formControlName="size">
                                        </mat-form-field>
                                        <mat-form-field fxFlex="49" fxFlexOffset="20px">
                                            <mat-label>Quantity</mat-label>
                                            <input matInput formControlName="quantity" numbersOnly maxlength="3">
                                            <mat-error *ngIf="orderForm.controls['quantity'].hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                            <!-- / ORDER DETAILS  -->

                            <!-- NOTES  -->
                            <mat-card fxFlex="49" class="mar-t-5 mar-b-5">
                                <mat-card-subtitle class="mat-body-strong">Notes
                                </mat-card-subtitle>
                                <mat-card-content fxLayout="column">
                                    <mat-form-field fxFlex>
                                        <textarea matInput class="notes" formControlName="notes"
                                            maxlength="255"></textarea>
                                    </mat-form-field>
                                    {{255 - orderForm.value.notes?.length}} characters remaining.
                                </mat-card-content>
                            </mat-card>
                            <!-- / NOTES  -->
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between none" fxFlexOffset="20px"
                            *ngIf="orderForm.value.subType ==='Album'">
                            <mat-card fxFlex="49">
                                <mat-card-subtitle class="mat-body-strong">Album Details</mat-card-subtitle>
                                <mat-card-content>
                                    <div fxLayout="row">
                                        <mat-form-field fxFlex>
                                            <mat-label>Album Type</mat-label>
                                            <mat-select matNativeControl formControlName="albumType">
                                                <mat-option *ngFor="let option of albumTypeList" [value]="option.value">
                                                    {{ option.text }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="orderForm.controls['albumType'].hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field fxFlex fxFlexOffset="20px">
                                            <mat-label>Cover Type</mat-label>
                                            <mat-select matNativeControl formControlName="coverType">
                                                <mat-option value="Normal Cover">Normal Cover</mat-option>
                                                <mat-option value="Fancy Cover">Fancy Cover</mat-option>
                                                <mat-option value="3Fold Cover">3Fold Cover</mat-option>
                                                <mat-option value="Leather Box">Leather Box</mat-option>
                                                <mat-option value="Shirt Box">Shirt Box</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="orderForm.controls['coverType'].hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxLayout="row">
                                        <mat-form-field fxFlex="49">
                                            <mat-label>Bag Type</mat-label>
                                            <input matInput formControlName="bagType">
                                            <mat-error *ngIf="orderForm.controls['bagType'].hasError('required')">
                                                Required
                                            </mat-error>
                                        </mat-form-field>
                                        <div fxFlex="49">
                                            <button type="button" mat-stroked-button color="warn"
                                                (click)="configurePages()" class="btn-configure-page">
                                                <mat-icon>style</mat-icon>
                                                Configure Pages
                                            </button>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>

        </div>
    </app-page-scroll-layout>

    <div class="footer" fxLayoutAlign="space-between end">
        <button mat-button color="warn" type="button" (click)="onClear()">
            <mat-icon>clear_all</mat-icon> Clear
        </button>
        <button mat-button color="primary" type="submit" (click)="onSave()">
            <mat-icon>save</mat-icon>
            <span *ngIf="isEditMode">Update Order</span>
            <span *ngIf="!isEditMode">Create Order</span>
        </button>
    </div>
</form>
