
  <div fxLayout="row" style="padding-top: 40px;">
    <div style="width: 80%; margin:0 auto; height: 35px;" >
    <div fxLayout="column" fxFlex="22"  style="padding-left: 20px;">
      Name
    </div>
    <div fxLayout="column" fxFlex="19">
      Status
    </div>
    <div fxLayout="column" fxFlex="52" >
     Description
    </div>
    <div fxLayout="column" fxFlex="10" >
      Action
    </div>
    <div fxLayout="column" fxFlex="2px" >
  </div>
</div>
  </div>
<div fxLayout="row">
<div style="width: 80%; margin:0 auto;">
  <ng-template #recursiveList let-servicesList>
    <div *ngFor="let item of servicesList">
      <div *ngIf="item.children.length > 0">
        <mat-divider></mat-divider>
        <mat-accordion displayMode="flat" multi class="mat-table">
          <mat-expansion-panel class="expansion-panel" >
            <mat-expansion-panel-header>
              <mat-panel-title fxFlex="20">
                {{ item.name }}
              </mat-panel-title>
              <mat-panel-description>
                <div fxFlex="row">
                  <div fxLayout="column" fxFlex="26" style="color:rgba(0,0,0,.54);">
                    {{ item.status }}
                  </div>
                  <div fxFlex="column" fxFlex="80" style="margin-right: 6px;">
                    {{ item.description }}
                  </div>
                  <div fxLayout="column" fxFlex="5" style="color:rgba(0,0,0,.54);" >
                    <mat-icon (click)="addServiceItem(item, $event)" id="addServiceItem">add</mat-icon>
                  </div>
                  <div fxLayout="column" fxFlex="5" style="color:rgba(0,0,0,.54);">
                    <mat-icon (click)="addServiceItem(item, $event)" id="editServiceItem">edit</mat-icon>
                  </div>
                 
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container
              *ngTemplateOutlet="
                recursiveList;
                context: { $implicit: item.children }
              "
            ></ng-container>
            
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div *ngIf="item.children.length == 0">
        <mat-divider></mat-divider>
        <div class="item">
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="20" style="margin-right: 11px;">
              {{ item.name }}
            </div>
            <div fxLayout="column" fxFlex="20" style="color:rgba(0,0,0,.54);">
              {{ item.status }}
            </div>
            <div fxLayout="column" fxFlex="52" style="color:rgba(0,0,0,.54); margin-right: 6px;">
              {{ item.description }}
            </div>
            <div fxLayout="column" fxFlex="4" style="color:rgba(0,0,0,.54); cursor: pointer;" >
              <mat-icon (click)="addServiceItem(item, $event)" id="addServiceItem">add</mat-icon>
            </div>
            <div fxLayout="column" fxFlex="6" style="color:rgba(0,0,0,.54); cursor: pointer;" >
              <mat-icon (click)="addServiceItem(item, $event)" id="editServiceItem">edit</mat-icon>
            </div>
            <div fxLayout="column" fxFlex="2px" style="color:rgba(0,0,0,.54);">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </ng-template>
  <ng-container
    *ngTemplateOutlet="recursiveList; context: { $implicit: servicesList }"
  ></ng-container>
</div>
</div>
<!-- <mat-tree [dataSource]="dataSource" multiTemplateDataRows [treeControl]="treeControl" class="example-tree">

  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">  
      <button mat-icon-button disabled></button>
      {{node.name}}
    </li>
  </mat-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
    <li>
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree> -->
