@import "../../../../shared/styles/table.scss";

.priority-indicator {
  width: 80px;
  height: 25px;
  line-height: 0px;
  cursor: default;
}
.right {
  margin-right: 30px;
  float: right;
  color: black;
  // background: #fff;
 }
