.login{
  position: fixed;
}
.auth-cover {
    height: 100%;
    background-size: cover !important;
    background: url(../../../../assets/images/auth_bg.jpg) left top no-repeat;
  }
  .login-card {
    position: relative;
    right: 13%;

    @media (min-width: 599px) {
      width: 350px;
    }
  }

  .btn-login {
    width: 100%;
    height: 30px;
    line-height: 0px;
  }

  .btn-login i {
    font-size: 20px;
  }
