<div class="auth-cover" class = "login">
  <div fxLayout fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="login-card">
      <form [formGroup]="formGroup" autocomplete="off">
        <mat-card-subtitle>Enter your password</mat-card-subtitle>
        <mat-card-content fxLayout="column">
          <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              matInput
              formControlName="password"
              required
              (keyup)="passwordRetype($event)"
              autocomplete="off"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="passwordVisible = !passwordVisible"
            >
              <mat-icon>{{
                passwordVisible ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="legacy">
            <mat-label>Re-Enter Password</mat-label>

            <input
              [type]="repasswordVisible ? 'text' : 'password'"
              matInput
              formControlName="repassword"
              required
              (keyup)="passwordRetype($event)"
              autocomplete="off"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="repasswordVisible = !repasswordVisible"
            >
              <mat-icon>{{
                repasswordVisible ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
          </mat-form-field>
          <mat-error
            *ngIf="
              formGroup.errors?.mismatch &&
              (formGroup.controls['repassword'].dirty ||
                formGroup.controls['repassword'].touched)
            "
            >Passwords doesn't match</mat-error
          >
          <mat-error *ngIf="successful" [ngStyle]="{ color: 'green' }"
            >{{message}}</mat-error
          >
          <mat-error *ngIf="serverError">{{ errorMessage }}</mat-error>
        </mat-card-content>
        <button
          type="submit"
          mat-raised-button
          color="accent"
          class="btn-login"
          [disabled]="
            formGroup.errors?.mismatch &&
            (formGroup.controls['repassword'].dirty ||
              formGroup.controls['repassword'].touched)
          "
          (click)="resetPassword()"
        >
          <!-- <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" *ngIf="loading"></i> -->
          Reset Password
        </button>
      </form>
    </mat-card>
  </div>
</div>
