.btn-green {
  background-color: green;
  color: white;
  padding: 5px;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 5px;
}

.btn-grey {
  background-color: grey;
  color: white;
  padding: 5px;
}
