<!-- <breadcrumb></breadcrumb> -->
<!-- <mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar> -->

<div class="matero-page-header">
  <div fxLayout="row wrap" fxLayoutAlign="space-between end" style="margin-bottom: -10px;">
    <div fxLayout="column" fxFlex>
      <div fxLayout="row" style="padding-left: 18px; padding-bottom: 1.34375em;">
        <app-breadcrumb></app-breadcrumb>
      </div>
    </div>
    <div fxLayout="column" fxFlex="40">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="60">
          <div *ngIf="searchForm" [formGroup]="searchForm">
            <mat-form-field
              appearance="outline"
              style="padding-top: 3px; width: 100%; font-size: 12px;"
            >
              <mat-label>Search Account</mat-label>
              <input
                #searchText
                matInput
                formControlName="searchString"
                (keyup)="onKeyUp(searchText.value)"
              />
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="column" fxFlex>
          <div style="margin-top: 10px;">
            <button mat-raised-button class="button-create-page" (click)="createAccount()">
              New Account
            </button>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <mat-divider></mat-divider>
</div>
  <div style="padding-top: 20px;">
    <div fxLayout="column" fxFlex="10">
      <mat-list>
        <mat-list-item (click)="getAccounts()" style="cursor: pointer;"> All Accounts </mat-list-item>
        <mat-list-item (click)="getAccounts('Active')" style="cursor: pointer;">  Active Accounts </mat-list-item>
      </mat-list>
    </div>
    <div fxLayout="column" fxFlex fxFlexOffset="10px">
      <div fxLayout="row" fxFlex>
        <div
          class="mat-elevation-z0"
          style="width: 100%; border: solid 1px #e5e5e5;"
        >
          <table
            mat-table
            [dataSource]="accountsList"
            matSort
            matSortActive="id"
            matSortDisableClear
            matSortDirection="desc"
            style="width: 100%;"
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let account">{{ account.id }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
              <td mat-cell *matCellDef="let account">{{ account.name }}</td>
            </ng-container>
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef>ADDRESS</th>
              <td mat-cell *matCellDef="let account">
                {{ (account?.addresses)[0]?.address1 }}
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>STATUS</th>
              <td mat-cell *matCellDef="let account">{{ account.status }}</td>
            </ng-container>
            <ng-container matColumnDef="mobile">
              <th mat-header-cell *matHeaderCellDef>MOBILE</th>
              <td mat-cell *matCellDef="let account">{{ account.mobile }}</td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>E-MAIL</th>
              <td mat-cell *matCellDef="let account">{{ account.email }}</td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef>PHONE</th>
              <td mat-cell *matCellDef="let account">{{ account.phone }}</td>
            </ng-container>
            <ng-container matColumnDef="owner">
              <th mat-header-cell *matHeaderCellDef>OWNER</th>
              <td mat-cell *matCellDef="let account">
                {{ account.assignedTo }}
              </td>
            </ng-container>
            <ng-container matColumnDef="actions" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>visibility</mat-icon>
                    <span>View</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>assignment_ind</mat-icon>
                    <span>Assign To</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Update</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumns"
              class="mat-primary"
            ></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [length]="resultsLength"
            [pageSize]="itemPerPage"
            
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>

