<div class="router-container">
  <mat-card class="mat-elevation-z0">
    <mat-card-subtitle style="margin-bottom:0px">
      <!-- <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between end">
        <div fxLayout="column">
          <div>
           <button
                mat-stroked-button
                (click)="createQuoteLine()"
                class="button-create-page"
              >
                <mat-icon>add</mat-icon>Create Quote Item
              </button> 
          </div>
        </div>
        <div fxLayout="column">
          <div fxLayout="row">
            <div>
              <button
                  mat-stroked-button
                  [disabled]="selectedIsEmpty"
                  (click)="estimate_onClick()"
                  class="button-create-page"
                >
                  <mat-icon>attach_money</mat-icon>Estimate
                </button>
            </div>
            <div style="margin-left: 10px;">
              <button mat-stroked-button class="button-all">
                <mat-icon>schedule</mat-icon> Schedule
              </button>
            </div>
          </div>
        </div>
      </div> -->
    </mat-card-subtitle>
    <div style="height: inherit; overflow-y: auto;">
      <table
        mat-table
        [dataSource]="dataSource"
        style="width: 100%;"
        cell-padding="20px"
      >
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>TITLE</th>
          <td mat-cell *matCellDef="let element">{{ element?.title }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="start">
          <th mat-header-cell *matHeaderCellDef>START</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.start | date: "medium" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="end">
          <th mat-header-cell *matHeaderCellDef>END</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.end | date: "medium" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="assignedto">
          <th mat-header-cell *matHeaderCellDef>ASSIGNED TO</th>
          <td mat-cell *matCellDef="let element">{{ element?.assignedId }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card>
</div>
