.btn-add-sub-order {
  margin-bottom: 10px;
  margin-top: 10px;
}

.permission-box-check {
  mat-checkbox {
    margin-right: 20px;
  }
}

.permission-box-name {
  padding: 0px 3px 0px 10px;
  background-color: grey;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.permission-box-details {
  padding: 3px 3px 3px 50px;
  margin-bottom: 5px;
  line-height: 30px;
  background-color: #f3f1f1;
  border-radius: 8px;
  font-weight: 500;
}

