<mat-card fxLayout="row" class="profile-summary-card order-card">
  <div fxFlex="49" class="profile-snap-left">
    <ul class="profile-snap-list">
      <li>
        <mat-icon class="profile-snap-icon">shopping_basket</mat-icon>
        <div class="title mat-body-strong">Order #:</div>
        <div class="text mat-body-strong">{{ orderDetails?.id }}</div>
      </li>
      <li>
        <mat-icon class="profile-snap-icon">style</mat-icon>
        <div class="title mat-body-strong">Item:</div>
        <div class="text mat-body-strong">
          {{ orderDetails?.type }} {{ orderDetails?.subType ? "-" : "" }}
          {{ orderDetails?.subType }}
        </div>
      </li>
      <li>
        <mat-icon class="profile-snap-icon">calendar_today</mat-icon>
        <div class="title mat-body-strong">Order Date:</div>
        <div class="text mat-body-strong">
          {{ orderDetails?.createdAt | date }}
        </div>
      </li>
      <li>
        <mat-icon class="profile-snap-icon">emoji_flags</mat-icon>
        <div class="title mat-body-strong">Status:</div>
        <div class="order-status__created">{{ orderDetails?.status }}</div>
      </li>
    </ul>
  </div>
  <div fxFlex="49" class="profile-snap-right">
    <div fxLayout="row">
      <ul class="profile-snap-list">
        <li>
          <mat-icon class="profile-snap-icon">person</mat-icon>
          <div class="title mat-body-strong">Customer Name:</div>
          <div class="text mat-body-strong">
            {{ orderDetails?.customerName }}
          </div>
        </li>
        <li>
          <mat-icon class="profile-snap-icon">phone</mat-icon>
          <div class="title mat-body-strong">Phone:</div>
          <div class="text mat-body-strong">{{ orderDetails?.phone }}</div>
        </li>
        <li>
          <mat-icon class="profile-snap-icon">email</mat-icon>
          <div class="title mat-body-strong">E-Mail:</div>
          <div class="text mat-body-strong">{{ orderDetails?.email }}</div>
        </li>
      </ul>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <div fxLayout="column" fxLayoutAlign="end">
        <button
          mat-button
          mat-raised-button
          color="primary"
          [disabled]="!(
            enable &&
            orderDetails &&
            orderDetails.status === 'Created' &&
            orderDetails.subType === 'Album')
          "
          (click)="processOrder(orderDetails.id)"
        >
          Process Order
        </button>
      </div>

      <div fxLayout="column">
        <button mat-button mat-raised-button color="primary" (click)="savePDF()">
          Generate Summary
        </button>
      </div>
    </div>
  </div>
  <div
    fxFlex="3"
    class="profile-edit"
    *ngIf="permissionService.canEdit(screenName.Order_Profile)"
  >
    <button
      mat-mini-fab
      style="background-color: red;"
      (click)="editOrderProfile()"
      matTooltip="Edit"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</mat-card>
